In [10]:
import pandas as pd
import numpy as np

In [11]:
df_games = pd.read_csv('./games.csv')

In [12]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     25796 non-null  object
 1   GAME_ID           25796 non-null  int64
 2   GAME_STATUS_TEXT  25796 non-null  object
 3   HOME_TEAM_ID      25796 non-null  int64
 4   VISITOR_TEAM_ID   25796 non-null  int64
 5   SEASON            25796 non-null  int64
 6   TEAM_ID_home      25796 non-null  int64
 7   PTS_home          25697 non-null  float64
 8   FG_PCT_home       25697 non-null  float64
 9   FT_PCT_home       25697 non-null  float64
 10  FG3_PCT_home      25697 non-null  float64
 11  AST_home          25697 non-null  float64
 12  REB_home          25697 non-null  float64
 13  TEAM_ID_away      25796 non-null  int64
 14  PTS_away          25697 non-null  float64
 15  FG_PCT_away       25697 non-null  float64
 16  FT_PCT_away       25697 non-null  float64
 17  FG3_PCT_away      25697 non-null  float64
 18  AST_away          25697 non-null  float64
 19  REB_away          25697 non-null  float64
 20  HOME_TEAM_WINS    25796 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.1+ MB

In [13]:
df_games['GAME_DATE_EST']

0        2022-03-12
1        2022-03-12
2        2022-03-12
3        2022-03-12
4        2022-03-12
            ...
25791    2014-10-06
25792    2014-10-06
25793    2014-10-06
25794    2014-10-05
25795    2014-10-04
Name: GAME_DATE_EST, Length: 25796, dtype: object

In [14]:
df_games['GAME_DATE_EST'] = pd.to_datetime(df_games['GAME_DATE_EST'])
df_games = df_games.sort_values(by='GAME_DATE_EST', ascending=False)
df_teams = pd.read_csv('./teams.csv')
df_names = df_teams[['TEAM_ID', 'NICKNAME']]

In [20]:
df_games

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Heat,Timberwolves,2021,104.0,0.398,0.760,0.333,23.0,53.0,113.0,0.422,0.875,0.357,21.0,46.0,0
4,2022-03-12,22101009,Bulls,Cavaliers,2021,115.0,0.551,0.750,0.407,32.0,39.0,127.0,0.471,0.760,0.387,28.0,50.0,0
6,2022-03-12,22101011,Spurs,Pacers,2021,127.0,0.516,0.909,0.367,21.0,43.0,118.0,0.470,0.963,0.412,26.0,35.0,1
5,2022-03-12,22101010,Warriors,Bucks,2021,134.0,0.558,0.710,0.390,21.0,44.0,125.0,0.500,0.857,0.394,27.0,33.0,1
1,2022-03-12,22101006,Nuggets,Raptors,2021,101.0,0.443,0.933,0.429,20.0,46.0,91.0,0.419,0.824,0.208,19.0,40.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18425,2003-10-07,10300010,Celtics,Magic,2003,104.0,0.506,0.677,0.455,26.0,45.0,86.0,0.380,0.852,0.188,19.0,37.0,1
18424,2003-10-07,10300006,Warriors,Heat,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
18430,2003-10-07,10300005,Lakers,Raptors,2003,104.0,0.527,0.657,0.429,22.0,33.0,80.0,0.470,0.667,0.333,10.0,37.0,1
18432,2003-10-06,10300002,Clippers,Heat,2003,105.0,0.494,0.618,0.267,25.0,48.0,94.0,0.427,0.700,0.154,20.0,43.0,1
18433,2003-10-05,10300001,Kings,Mavericks,2003,90.0,0.457,0.735,0.143,23.0,41.0,85.0,0.447,0.500,0.250,20.0,38.0,1

In [16]:
home_names = df_names.copy()
home_names.columns = ['HOME_TEAM_ID', 'NICKNAME']
merge_1 = pd.merge(df_games['HOME_TEAM_ID'], home_names, how ="left", on="HOME_TEAM_ID")  
df_games['HOME_TEAM_ID'] = merge_1['NICKNAME']

In [18]:
visitor_names = df_names.copy()
visitor_names.columns = ['VISITOR_TEAM_ID', 'NICKNAME']
merge_2 = pd.merge(df_games['VISITOR_TEAM_ID'], visitor_names, how = "left", on="VISITOR_TEAM_ID")
df_games['VISITOR_TEAM_ID'] = merge_2['NICKNAME']

In [19]:
df_games = df_games.drop(['GAME_STATUS_TEXT', 'TEAM_ID_home', 'TEAM_ID_away'], axis=1)

In [21]:
df_games['GAME_YEAR'] = pd.to_datetime(df_games['GAME_DATE_EST']).dt.year.apply(str)
df_games['GAME_MONTH'] = pd.to_datetime(df_games['GAME_DATE_EST']).dt.month.apply(str)
df_games['GAME_DAY'] = pd.to_datetime(df_games['GAME_DATE_EST']).dt.day.apply(str)
df_games['GAME_YEAR'] = pd.to_numeric(df_games['GAME_YEAR'])
df_games['GAME_MONTH'] = pd.to_numeric(df_games['GAME_MONTH'])
df_games['GAME_DAY'] = pd.to_numeric(df_games['GAME_DAY'])

In [22]:
df_games.drop(['GAME_DATE_EST', 'SEASON'], axis=1, inplace=True)

In [23]:
df_games

,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,GAME_YEAR,GAME_MONTH,GAME_DAY
0,22101005,Heat,Timberwolves,104.0,0.398,0.760,0.333,23.0,53.0,113.0,0.422,0.875,0.357,21.0,46.0,0,2022,3,12
4,22101009,Bulls,Cavaliers,115.0,0.551,0.750,0.407,32.0,39.0,127.0,0.471,0.760,0.387,28.0,50.0,0,2022,3,12
6,22101011,Spurs,Pacers,127.0,0.516,0.909,0.367,21.0,43.0,118.0,0.470,0.963,0.412,26.0,35.0,1,2022,3,12
5,22101010,Warriors,Bucks,134.0,0.558,0.710,0.390,21.0,44.0,125.0,0.500,0.857,0.394,27.0,33.0,1,2022,3,12
1,22101006,Nuggets,Raptors,101.0,0.443,0.933,0.429,20.0,46.0,91.0,0.419,0.824,0.208,19.0,40.0,1,2022,3,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18425,10300010,Celtics,Magic,104.0,0.506,0.677,0.455,26.0,45.0,86.0,0.380,0.852,0.188,19.0,37.0,1,2003,10,7
18424,10300006,Warriors,Heat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2003,10,7
18430,10300005,Lakers,Raptors,104.0,0.527,0.657,0.429,22.0,33.0,80.0,0.470,0.667,0.333,10.0,37.0,1,2003,10,7
18432,10300002,Clippers,Heat,105.0,0.494,0.618,0.267,25.0,48.0,94.0,0.427,0.700,0.154,20.0,43.0,1,2003,10,6
18433,10300001,Kings,Mavericks,90.0,0.457,0.735,0.143,23.0,41.0,85.0,0.447,0.500,0.250,20.0,38.0,1,2003,10,5

In [24]:
df_games.drop(['PTS_home', 'FG_PCT_home', 'FT_PCT_home','FG3_PCT_home','AST_home','REB_home','FG_PCT_away', 'FG3_PCT_away',
              'AST_away', 'REB_away', 'HOME_TEAM_WINS'], axis=1, inplace=True)

In [27]:
df_games

,HOME_TEAM_ID,VISITOR_TEAM_ID,PTS_away,FT_PCT_away,GAME_YEAR,GAME_MONTH,GAME_DAY
GAME_ID,,,,,,,
22101005,Heat,Timberwolves,113.0,0.875,2022,3,12
22101009,Bulls,Cavaliers,127.0,0.760,2022,3,12
22101011,Spurs,Pacers,118.0,0.963,2022,3,12
22101010,Warriors,Bucks,125.0,0.857,2022,3,12
22101006,Nuggets,Raptors,91.0,0.824,2022,3,12
...,...,...,...,...,...,...,...
10300010,Celtics,Magic,86.0,0.852,2003,10,7
10300006,Warriors,Heat,NaN,NaN,2003,10,7
10300005,Lakers,Raptors,80.0,0.667,2003,10,7
10300002,Clippers,Heat,94.0,0.700,2003,10,6
10300001,Kings,Mavericks,85.0,0.500,2003,10,5

In [26]:
df_games = df_games.drop_duplicates(subset=['GAME_ID'], ignore_index=False)
df_games = df_games.set_index('GAME_ID')

In [71]:
a = df_games.loc[((df_games['HOME_TEAM_ID'] == 'Warriors') | (df_games['VISITOR_TEAM_ID'] == 'Warriors')) 
                 & (((df_games['GAME_YEAR'] == 2022) & (df_games['GAME_MONTH'] < 10)) | ((df_games['GAME_YEAR'] == 2021) & (df_games['GAME_MONTH'] >= 10)))]

In [72]:
a.shape

(73, 7)

In [73]:
a

,HOME_TEAM_ID,VISITOR_TEAM_ID,PTS_away,FT_PCT_away,GAME_YEAR,GAME_MONTH,GAME_DAY
GAME_ID,,,,,,,
22101010,Warriors,Bucks,125.0,0.857,2022,3,12
22100994,Nuggets,Warriors,113.0,0.750,2022,3,10
22100977,Warriors,Clippers,102.0,0.826,2022,3,8
22100528,Nuggets,Warriors,124.0,0.739,2022,3,7
22100959,Lakers,Warriors,116.0,0.474,2022,3,5
...,...,...,...,...,...,...,...
12100065,Warriors,Trail Blazers,98.0,0.684,2021,10,15
12100046,Lakers,Warriors,113.0,0.741,2021,10,12
12100031,Warriors,Lakers,114.0,0.719,2021,10,8
12100019,Warriors,Nuggets,116.0,0.867,2021,10,6
12100005,Trail Blazers,Warriors,114.0,0.769,2021,10,4

In [74]:
data = []
for index1, row1 in a.iterrows():
    finded = False
    for index2, row2 in a.iterrows():
        if (row1.GAME_MONTH == row2.GAME_MONTH) and (row1.GAME_DAY - row2.GAME_DAY == 1):
            finded = True
        elif (row1.GAME_MONTH != row2.GAME_MONTH) and (row1.GAME_DAY = 1):
            finded = True
    if finded:
        data.append(True)
    else:
       data.append(False)

In [77]:
a['back2back'] = data

C:\Users\diego\AppData\Local\Temp\ipykernel_1144\4221464861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['back2back'] = data

In [78]:
a

,HOME_TEAM_ID,VISITOR_TEAM_ID,PTS_away,FT_PCT_away,GAME_YEAR,GAME_MONTH,GAME_DAY,back2back
GAME_ID,,,,,,,,
22101010,Warriors,Bucks,125.0,0.857,2022,3,12,False
22100994,Nuggets,Warriors,113.0,0.750,2022,3,10,False
22100977,Warriors,Clippers,102.0,0.826,2022,3,8,True
22100528,Nuggets,Warriors,124.0,0.739,2022,3,7,False
22100959,Lakers,Warriors,116.0,0.474,2022,3,5,False
...,...,...,...,...,...,...,...,...
12100065,Warriors,Trail Blazers,98.0,0.684,2021,10,15,False
12100046,Lakers,Warriors,113.0,0.741,2021,10,12,False
12100031,Warriors,Lakers,114.0,0.719,2021,10,8,False
12100019,Warriors,Nuggets,116.0,0.867,2021,10,6,False
12100005,Trail Blazers,Warriors,114.0,0.769,2021,10,4,False

In [87]:
a.back2back.value_counts()

False    63
True     10
Name: back2back, dtype: int64